@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>


<div class="jumbotron">
    <div class="row">
        <div class="col-md-2">
            <img src="~/Content/Images/logo.png" class="img-responsive" />
            @*<div class="glyphicon glyphicon-info-sign"></div>*@

            @*some image..*@
        </div>
        <div class="col-md-10">
            <p class="h2">TradeAloan is one marketplace which is connected online to multiple peer2peer social lending platforms.</p>

            <p class="h3">
                TradeAloan vision is to give the users: Lenders and Borrowers, the most suitable social lending solutions in one place.
            </p>

            <p class="h2">
                Simple, Cost Effective and Transparent!
            </p>
            <p class="h3">
                TradeAlone is reaching out to all leading social lending platfroms.
            </p>
        </div>

    </div>
</div>

