@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TradeAloan</h1>
    <p class="h1">We will find for you the best loan!</p>
    <p class="h3">How does it work?</p>
    <p>
        You click on our find a loan button, and we will show you all best available loans which fits best for your needs. It's simple, cost effective and transparent. Try us today!
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <p class="h2">Get lower rates for your loans</p>
        <p>
            <iframe src="https://www.youtube.com/embed/WF4Fsnu7wgM?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0"></iframe>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Jenny, 28, Boston, US</h2>
        <img src="~/Content/Images/jenny.jpg" class="img-responsive" alt="Cinque Terre">
        <p>I used TradeAloan and got great loan offers! It's very simple. In one website I found the best available offers for my needs. I have lent $4,000 and made 8% return on my money! you will never get such deal from the bank!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">        
        <p class="h2">P2P social lending is one of the most growing indusries</p>
        <p>
            <iframe src="http://www.youtube.com/embed/48kFuTtXexk?wmode=transparent&autoplay=0&theme=dark&controls=1&autohide=0&loop=0&showinfo=0&rel=0&playlist=false&enablejsapi=0"></iframe>
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>             
    </div>
</div>