<html>

<head>
    <title>TradeALoan Privacy</title>
    <meta http-equiv=Content-Type content="text/html; charset=windows-1252">
    <meta name=Generator content="Microsoft Word 15 (filtered)">
    <style>
<!--
 /* Font Definitions */
 @@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@@font-face
	{font-family:Montserrat;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri","sans-serif";}
h2
	{mso-style-link:"Heading 2 Char";
	margin-right:0in;
	margin-left:0in;
	font-size:18.0pt;
	font-family:"Times New Roman","serif";
	font-weight:bold;}
a:link, span.MsoHyperlink
	{color:blue;
	text-decoration:underline;}
a:visited, span.MsoHyperlinkFollowed
	{color:#954F72;
	text-decoration:underline;}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.Heading2Char
	{mso-style-name:"Heading 2 Char";
	mso-style-link:"Heading 2";
	font-family:"Times New Roman","serif";
	font-weight:bold;}
span.s1
	{mso-style-name:s1;}
p.p1, li.p1, div.p1
	{mso-style-name:p1;
	margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.apple-converted-space
	{mso-style-name:apple-converted-space;}
span.s3
	{mso-style-name:s3;}
span.s4
	{mso-style-name:s4;}
p.p3, li.p3, div.p3
	{mso-style-name:p3;
	margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman","serif";}
span.s5
	{mso-style-name:s5;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}
-->
    </style>

</head>

<body lang=EN-US link=blue vlink="#954F72">

    <a name="page-top"></a>
        <div class=WordSection1>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:white;vertical-align:baseline'>
                <span style='font-size:25.5pt;
font-family:"Montserrat","serif";color:#212121'>Privacy Policy</span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Last revision date: Aug 23,
                    2015
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    This privacy policy describes
                    how TRADEALOAN, Inc. (“TRADEALOAN”, “We”, “Our” or “Us”), a wholly owned
                    subsidiary of Banco Popular North America (“BPNA”), collects and uses the
                    personal information you provide on TRADEALOAN’s Web site: www.TradeALoan.com.
                    It also describes the choices available to you regarding TRADEALOAN’s use of
                    your personal information and how you can access and update this information.
                    Products and services are intended for U.S. Residents over 18 years of age.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Please be aware that other Web
                    sites that you may access through the TRADEALOAN Web site may collect personal
                    information about you. TRADEALOAN’s Privacy Policy does not cover those third
                    party Web sites, and TRADEALOAN encourages you to read those third party
                    privacy policies prior to providing them with your personal information. To
                    assist you with reading through TRADEALOAN’s Privacy Policy, TRADEALOAN has
                    provided answers to questions you may find most important, and have created the
                    following sections:
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    How does TRADEALOAN collect and use my
                    information?
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Does TRADEALOAN share my personal
                    information with third parties?
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    What information is shared on savings and
                    CD products?
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Can I opt-out of communications from TRADEALOAN?</span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    How does TRADEALOAN safeguard my personal
                    information?
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Will this Privacy Policy change?</span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    What is TradeALoan’s Deposit Privacy
                    Policy?
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        HOW DOES TRADEALOAN
                        COLLECT AND USE MY INFORMATION?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN may collect and use
                    your personal information to respond to your requests for financial products
                    and services offered on TRADEALOAN’s Web site or to provide you with
                    information about products or services that may be of value to you. Certain
                    personal information TRADEALOAN collects about you may be publicly available
                    via government records, telephone books, and other widely available media (i.e.
                    the Internet). However, we treat all information you provide to TRADEALOAN as
                    non-public.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    1. Information you provide<br>
                    <br>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN collects the
                    personal information you provide when you:
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Contact TRADEALOAN with a question or
                    suggestion
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Open a Savings Account or Certificate of
                    Deposit
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN collects certain
                    information from you when you open a savings account or certificate of deposit
                    vis-à-vis the TRADEALOAN Web site. This includes personal information such as
                    name, email address, address, social security number, and bank account and
                    routing numbers. This allows you to transfer money between accounts and lets TRADEALOAN
                    facilitate the transactions.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>Contacting TRADEALOAN</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    When you contact TRADEALOAN
                    with a question or suggestion we collect your name, email address, and
                    telephone number. TRADEALOAN only uses personal information that it collects to
                    respond to and/or resolve your question or concern.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    2. Information collected from
                    other sources<br>
                    <br>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN may also collect
                    information about you from the following sources:
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Consumer reporting agency: TRADEALOAN uses
                    this information to process your account.<br>
                    <br>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    3. Technical Information<br>
                    <br>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>We use technology to:</span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Gather technical information from your Web
                    browser (IP address, operating systems);
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Set persistent cookies on your computer; which
                    are not linked to personal information and
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                    Collect anonymous, non-personal information
                    about your navigation throughout our website by using “cookies”, “action tags”,
                    invisible “gifs” placed on the TRADEALOAN Web site by TRADEALOAN or its
                    business partners.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN uses this
                    information for routine Web site maintenance; to establish that you are a
                    unique user and/or for purposes of assessing the effectiveness of the TRADEALOAN
                    Web site and the products and services offered.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    4. Third Party Advertisements<br>
                    <br>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN uses third party
                    advertising companies to provide advertisements on the TRADEALOAN website.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        DOES TRADEALOAN SHARE MY
                        PERSONAL INFORMATION WITH THIRD PARTIES?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN may share your
                    personal information:
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                        With affiliate companies (companies related
                        by common ownership or control).&nbsp;
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>Examples</span>
                </b><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#424242'>
                    : TRADEALOAN
                    may share information about your transactions, experiences or your
                    creditworthiness with its affiliates, BPNA, Popular Equipment Finance, Inc.,
                    and Popular Insurance Agency USA, Inc. Access BPNA’s Privacy Policy here and
                    BPNA’s Privacy Practices here.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                        With companies involved in the loan or
                        savings account process.
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>Examples</span>
                </b><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#424242'>
                    :
                    Credit reporting agencies are a necessary part of various banking transactions.
                    Therefore, TRADEALOAN must provide some of your information to these companies
                    in order to process your account.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>
                        With companies that perform services on our
                        behalf (Joint marketing).
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>Examples</span>
                </b><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#424242'>
                    : TRADEALOAN
                    sometimes uses service providers to assist it with specific processes or
                    functions such as distributing emails or collecting survey information from TRADEALOAN
                    customers. TRADEALOAN requires the service providers it uses to sign business
                    agreements that restrict their use of your information to fulfilling the
                    contracted service. These companies are authorized to use your personal
                    information only as necessary to provide these services to us and for no other
                    purposes.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>As required by law.</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>Examples</span>
                </b><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#424242'>
                    : TRADEALOAN
                    may need to share your information with law enforcement or government agencies
                    in response to a subpoena, state/federal audit or other similar circumstances.
                    If TRADEALOAN is involved in a merger, acquisition, or sale of all or a portion
                    of its assets, you will be notified via email and/or a prominent notice on the TRADEALOAN
                    Web site of any change in ownership or uses of your personal information, as
                    well as any choices you may have regarding your personal information. The TRADEALOAN
                    Web site may link you to other companies’ Web sites that offer services that
                    may be of interest to you. These companies do not obtain any specific
                    information about you or your transaction on the TRADEALOAN Web site. You may
                    also access the TRADEALOAN Web site from another company’s Web site. TRADEALOAN
                    may collect Web traffic statistics from you and other consumers’ Web browsers,
                    and we may share this aggregated information with outside companies to assist
                    them with assessing the effectiveness of their Web site content. No personal
                    information is shared in this aggregated information.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        WHAT INFORMATION IS
                        SHARED ON SAVINGS AND CD PRODUCTS?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    When you open a savings account
                    or certificate of deposit through TRADEALOAN, an account is created for you
                    with our parent company, Banco Popular North America (BPNA), a FDIC-member
                    institution and a New York state chartered bank. These deposit accounts are FDIC
                    insured through BPNA. BPNA will use your information solely to provide services
                    on these accounts.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        CAN I OPT-OUT OF
                        COMMUNICATIONS FROM TRADEALOAN?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN always provides you
                    with the opportunity to opt-out of electronic communications that offer our
                    products and services. You can opt-out of marketing communications at anytime
                    by clicking on the following link: https://savings.TradeALoan.com/optout and
                    completing the applicable section(s). However, please be aware that TRADEALOAN
                    also sends service related email announcements on rare occasions when it is
                    necessary to do so. For instance, if our service is temporarily suspended for
                    maintenance, we might send you an email. You do no have an option to opt out of
                    these emails, which are not promotional in nature.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        HOW DOES TRADEALOAN
                        SAFEGUARD MY PERSONAL INFORMATION?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN follows generally
                    accepted industry standards to protect any personal information, including
                    nonpublic personal information (such as Social Security Number, ABA Routing
                    Number and Account Number) submitted to it, both during transmission and once
                    such information are received. No method of transmission over the Internet, or
                    method of electronic storage, is 100% secure, however. Therefore, while TRADEALOAN
                    strives to use commercially acceptable means to protect your personal
                    information, TRADEALOAN cannot guarantee its absolute security. TRADEALOAN uses
                    Secure Sockets Layer (SSL) technology supporting up to 128-bit encryption to
                    prevent unauthorized parties from viewing any personal information transmitted
                    to or from TRADEALOAN during your session. TRADEALOAN has also obtained a
                    digital certificate from VeriSign for www.TradeALoan.com and its subdomains.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        WILL THIS PRIVACY POLICY
                        CHANGE?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    To accommodate changes on the TRADEALOAN
                    Web site, changing technology, and legal developments, TRADEALOAN may change
                    this Privacy Policy from time to time. TRADEALOAN will notify you in writing of
                    significant changes to our information privacy practices, and will prominently
                    post the current version of the Privacy Policy at the TRADEALOAN Web site. TRADEALOAN
                    may update this Privacy Policy to reflect changes to TRADEALOAN’s information
                    practices. If TRADEALOAN makes any material changes it will notify you by email
                    (sent to the e-mail address specified in your account) or by means of a notice
                    on this Web site prior to the change becoming effective. TRADEALOAN encourages
                    you to periodically review this page for the latest information on our privacy
                    practices.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        TRADEALOAN DEPOSIT
                        PRIVACY POLICY&nbsp;
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    All deposit products offered
                    through TRADEALOAN will be opened through Banco Popular North America (BPNA), a
                    New York state chartered bank insured by the FDIC that is the direct parent
                    company of TRADEALOAN (i.e. TRADEALOAN is a wholly-owned subsidiary of BPNA).
                    Processing services are provided by BPNA. All deposits with BPNA are insured
                    for the maximum amount allowed by law, and all balances on deposit with BPNA
                    (whether directly or through TRADEALOAN) would be combined for purposes of
                    determining FDIC coverage eligibility. Effective July 22, 2010, the new
                    standard maximum deposit insurance amount (SMDIA) is made permanent to
                    $250,000. Your deposits are insured up to $250,000 per depositor. You may
                    qualify for more than $250,000 in coverage if you hold deposits in different
                    account ownership categories. For more information about FDIC insurance
                    coverage, visit www.fdic.gov.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Because BPNA holds these
                    accounts, we are providing you with a copy of their privacy policy, which
                    applies to these deposit products. BPNA will use your information solely to
                    provide services on these accounts.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Please&nbsp;<a href="http://labs2.popular.com/pdf/BPNA/">
                        <span style='
text-decoration:none'>click here</span>
                    </a>&nbsp;to view the BPNA privacy
                    policy.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:normal;background:
white;vertical-align:baseline'>
                <span style='font-size:25.5pt;font-family:"Montserrat","serif";
color:#212121'>Online Privacy Practices</span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    TRADEALOAN has received
                    TRUSTe’s Privacy Seal signifying that this privacy policy and our practices
                    have been reviewed for compliance with the TRUSTe program viewable on the
                    validation page available by clicking the TRUSTe seal. The TRUSTe program
                    covers only information that is collected through this Web site, www.TradeALoan.com.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    If you have questions or
                    complaints regarding TRADEALOAN’s Privacy Policy or practices, please contact
                    us at 1-866-576-7283. If you are not satisfied with TRADEALOAN’s response you
                    can contact TRUSTe here.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>Collection and Use of 3</span><sup>
                    <span style='font-size:8.0pt;font-family:"Montserrat","serif";color:#424242'>rd</span>
                </sup><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#424242'>
                    &nbsp;Party
                    Personal Information
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    You may also provide personal
                    information about other people, such as their name, relationship and their
                    social security number. This information is only used for the sole purpose of
                    completing your request or for whatever reason it may have been provided.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        CAN I ACCESS MY
                        INFORMATION?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    You can access your account
                    information at http://www.TradeALoan.com anytime, 24 hours a day, 7 days a
                    week. Simply log in using the Username and Password you entered when you first
                    opened your Savings or CD account. To further ensure your security; please note
                    that three unsuccessful login attempts will lock your account. To unlock it,
                    you will need to call an associate for assistance at 1-866-576-7283 Monday to
                    Friday between the hours of 8:00 am and 5:00 pm Pacific Time. If you wish to
                    cancel your account or request that TRADEALOAN no longer uses your information
                    to provide you services contact TRADEALOAN by sending an email request using
                    this form. We will respond to your request to access within 30 days
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        WHAT ARE THE TRACKING
                        TECHNOLOGIES USED BY TRADEALOAN?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Technologies such as: cookies,
                    beacons, tags and scripts are used by TRADEALOAN and our advertising partners
                    in analyzing trends, administering the site, tracking users’ movements around
                    the site and to gather demographic information about our user base as a whole.
                    We may receive reports based on the use of these technologies by these
                    companies on an individual as well as aggregated basis.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Users can control the use of
                    cookies at the individual browser level. If you reject cookies, you may still
                    use our site, but your ability to use some features or areas of our site may be
                    limited.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Log Files</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    As is true of most web sites,
                    we gather certain information automatically and store it in log files.&nbsp;
                    This information may include internet protocol (IP) addresses, browser type,
                    internet service provider (ISP), referring/exit pages, operating system, date/time
                    stamp, and/or clickstream data. We do not link this automatically collected
                    data to other information we collect about you.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Local Storage Objects (HTML 5)</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Third parties with whom we
                    partner to provide certain features on our site or to display advertising based
                    upon your Web browsing activity use LSOs such as HTML 5. Various browsers may
                    offer their own management tools for removing HTML5 LSOs.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Behavioral Targeting / Re-Targeting</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    We partner with a third party
                    to either display advertising on our Web site or to manage our advertising on
                    other sites. Our third party partner may use technologies such as cookies to
                    gather information about your activities on this site and other sites in order
                    to provide you advertising based upon your browsing activities and
                    interests.&nbsp; If you wish to not have this information used for the purpose
                    of serving you interest-based ads, you may opt-out by clicking<a href="http://preferences.truste.com/">
                        <span style='text-decoration:
none'>here</span>
                    </a>. Please note this does not opt you out of being served
                    ads. You will continue to receive generic ads.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Frames</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Some of our pages utilize
                    framing techniques to serve content to from our partners while preserving the
                    look and feel of our site. Please be aware that you are providing your personal
                    information to these third parties and not to www.TradeALoan.com.
                </span>
            </p>

            <p class=MsoNormal style='margin-top:0in;margin-right:0in;margin-bottom:0in;
margin-left:26.25pt;margin-bottom:.0001pt;text-indent:-.25in;line-height:18.0pt;
vertical-align:top'>
                <span style='font-size:10.0pt;font-family:Symbol;
color:#424242'>
                    ·<span style='font:7.0pt "Times New Roman"'>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    </span>
                </span><span dir=LTR></span><b>
                    <span style='font-size:10.5pt;font-family:
"Montserrat","serif";color:#424242'>Social Media Widgets</span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Our Web site includes Social
                    Media Features, such as the Facebook Like button and Pinterest Pin It button.
                    These Features may collect your IP address, which page you are visiting on our
                    site, and&nbsp;may set a cookie to enable the Feature to function properly.
                    Social Media Features and Widgets are either hosted by a third party or hosted
                    directly on our Site. Your interactions with these Features are governed by the
                    privacy policy of the company providing it.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        HOW LONG WILL MY
                        INFORMATION BE STORED?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Federal and state agencies
                    require that TRADEALOAN provide aggregated demographic and loan funding
                    information about its loan applicants. TRADEALOAN maintains electronic and
                    hardcopy loan application information for funded/declined/withdrawn loans for a
                    period of at least 7 years in accordance with federal and state laws.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <b>
                    <span style='font-size:
10.5pt;font-family:"Montserrat","serif";color:#424242'>
                        WHO CAN I CONTACT FOR
                        PRIVACY RELATED ISSUES?
                    </span>
                </b>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    Please fill out our&nbsp;<a href="/home/contact">
                        <span style='text-decoration:
none'>contact form</span>
                    </a>&nbsp;to report any known or suspected privacy or
                    security breaches or to submit privacy-related questions or complaints. If you
                    do not receive acknowledgment of your inquiry or your inquiry is not
                    satisfactorily addressed, you may contact TRUSTe&nbsp;<a href="https://feedback-form.truste.com/watchdog/request">
                        <span style='text-decoration:none'>here</span>
                    </a>. TRUSTe will serve
                    as a liaison with TRADEALOAN to resolve user concerns.
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:.25in;line-height:18.0pt;background:
white;vertical-align:baseline'>
                <span style='font-size:10.5pt;font-family:"Montserrat","serif";
color:#424242'>
                    <a href="#page-top">
                        <span style='text-decoration:none'>Page Top</span>
                    </a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>Contact us</span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>
                    To submit privacy-related
                    questions or complaints:
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>Visit us online:&nbsp;</span><span style='font-size:10.5pt;font-family:"Montserrat","serif";color:#9FC234'>
                    <a href="https://TradeALoan.com/optout">https://TradeALoan.com/support</a>
                </span>
            </p>

            <p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
18.0pt;background:white;vertical-align:baseline'>
                <span style='font-size:10.5pt;
font-family:"Montserrat","serif";color:#424242'>TRADEALOAN, Inc.</span>
            </p>

        </div>

</body>

</html>
