@{
    ViewBag.Title = "Reviews";
}

<div class="h1"><h2 style="display:inline-block">Reviews</h2> <img src="~/Content/Images/logo.png" /></div>
<div class="container">
    <div class="well-lg">
        <div class="row">
            <div class="col-md-2">
                <img src="https://static.wixstatic.com/media/c4791f_b3d24546bfdb4c1eae2404448e21cbc8.png_srz_p_153_69_75_22_0.50_1.20_0.00_png_srz" class="img-responsive" />
            </div>
            <div class="col-md-10">
                <div class="h2">
                    Peer to peer lending– an alternative way to boost your savingsFilled your ISA?
                </div>
                <div>
                    Disillusioned with low savings rates? Could peer-to-peer lending be an option for you?But how exactly does peer-to-peer lending work, and what are the risks involved? Here we explain all you need to know to make the most of your money.
                </div>
            </div>
        </div>
    </div>

    <div class="well-lg">
        <div class="row">
            <div class="col-md-2">
                <img src="https://static.wixstatic.com/media/c4791f_54bb3541592c431eb7db29b479c183b4.png_srz_p_276_99_75_22_0.50_1.20_0.00_png_srz" class="img-responsive" />
            </div>
            <div class="col-md-10">
                <div class="h2"> The entire US p2p ecosystem in a single list</div>
                <div>
                    Many people like peer to peer lending for its low loan rates. Others celebrate its consistent and generous ROI. But the truth is that neither of these benefits are very profound. For example, while it is crucial to get out of debt (perhaps through a p2p loan), the process isn’t all that fun. Quite the opposite; making those monthly payments can be a real chore.
                    This applies to investing as well. Earning a return is key to a healthy retirement, but it really isn’t all that interesting. A dull number on your screen slowly grows over a 2-4 decades until a certain retirement threshold is reached and you’ve “made it” — a long time to wait for a party.
                    <br />
                    My favorite aspect is something altogether different. What captivates me about peer to peer lending is its transparency and collaboration. Certainly competition exists, but the long storied history of peer to peer lending is really one of people figuring this out together.To illustrate this, today I’ll review every peer to peer lending website in the United States, highlighting the collaborative part they play in the overall lending ecosystemy
                </div>
            </div>
        </div>
    </div>


    <div class="well-lg">
        <div class="row">
            <div class="col-md-2">
                <img src="https://static.wixstatic.com/media/c4791f_c72055e1f0ce4e8ea677c2098cba70b0.png_srz_p_285_49_75_22_0.50_1.20_0.00_png_srz" class="img-responsive" />
            </div>
            <div class="col-md-10">
                <div class="h2">PEER-TO-PEER LENDING: How digital lending marketplaces are disrupting the predominant banking model</div>
                <div>
                    Banks have historically handled most consumer and small business lending because they have the resources to assess a borrower's creditworthiness, and the regulatory approval to fund loans. However, this model has some key inefficiencies – interest rates are not individualized, the costs of underwriting loans are high, loan decisions can take months, and small businesses in particular have been shut out of the process.
                    <br />
                    This has left room for the growth of online lending marketplaces – dubbed peer-to-peer (P2P) lenders – that leverage the internet to give both borrowers and investors a better deal.
                    P2P lenders solve the banking model's inefficiencies by developing online marketplaces that use complex algorithms to match borrowers with investors according to each party's specifications.

                </div>
            </div>
        </div>
    </div>
    <div class="well-lg">
        <div class="row">
            <div class="col-md-2">
                <img src="https://static.wixstatic.com/media/c4791f_53bbf6ce76a5434991d7adf6130ae582.png_srz_p_235_118_75_22_0.50_1.20_0.00_png_srz" class="img-responsive" />
            </div>
            <div class="col-md-10">
                <div class="h2">Peer & Social Lending 2014 Wrap Up</div>
                <div>
                    2014 was the biggest year yet for peer to peer lending and in turn was the biggest year for the Peer & Social Lending blog.  I’ll hit on some of the highlights of the past year as well as talk about what I anticipate in 2015 for this site.  Most importantly, in 2014 we had not only 1, but 2 companies go public – Lending Club and OnDeck. The Lending Club IPO was an astounding success and I’m excited for what news we will hear from Lending Club in 2015.  In 2014, I also began investing in Prosper.  Seeing the success of Lending Club’s IPO I think it’s likely we will see Prosper file for an IPO in 2015.
                </div>
            </div>
        </div>

    </div>
    <div class="well-lg">
        <div class="row">
            <div class="col-md-2">
                <img src="https://static.wixstatic.com/media/c4791f_60af011af073435cac6950cc86353023.png_srz_p_274_92_75_22_0.50_1.20_0.00_png_srz" class="img-responsive" />
            </div>
            <div class="col-md-10">
                <div class="h2">Marketplace Lending News Roundup – September 5, 2015</div>
                <div>
                    During the week I share the latest marketplace lending news on Twitter as it happens. Then every Saturday I take the most interesting news items and blog posts from the past week and share them here. Peer-to-peer lender Zopa installs Jaidev Janardana as chief from Financial Times – Big news out of Zopa this week.
                </div>
            </div>
        </div>
    </div>

    <a href="/Home/GetLoan"><button class="btn btn-primary btn-lg btn-block"> Find a loan &raquo;</button></a>
</div>
